//**
// Mixins
//**

body {
    background-color: #DFDFDF;
    color: #333;
}

::selection {
    background: @selectionbg;
    color: @selectioncolor;
}

.masonBG {
    background-color: #FFF;
}

.headercolor {
    color: #555;
}

.header_a_color {
    .nav .nav-current {
        a:link,
        a:visited {
            color: @header_nav_current;
        }
        a:hover {
            outline: 0;
            color: @header_nav_hover;
        }
        a:focus {
            outline: thin dashed;
            color: @header_nav_focus;
            background-color: @header_nav_focusbg;
        }
    }

    a:link,
    a:visited {
        color: @header_nav;
    }

    a:hover {
        outline: 0;
        color: @header_nav_hover;
    }

    a:focus {
        outline: thin dashed;
        color: @header_nav_focus;
        background-color: @header_nav_focusbg;
    }

    a:active {
        background-color: @header_nav_activebg;
        color: @header_nav_active;
    }

}

.body_a_color {

    a:link,
    a:visited {
        color: @body_link;
    }

    .img_container_masonD:focus {
        outline: none;
    }

    a:focus {
        outline: thin dashed;
        background-color: @body_focusbg;
        color: @body_focus;
    }

    a:hover {
        outline: 0;
        color: @body_hover;
    }

    a:active {
        background-color: @header_nav_activebg;
        color: @header_nav_active;
    }

}

.footer_a_color {

    a:link,
    a:visited {
        color: @body_link;
    }

    a:focus {
        outline: thin dashed;
        background-color: @footer_focusbg;
        color: @footer_focus;
    }

    a:hover {
        outline: 0;
        color: @footer_hover;
    }

    a:active {
        background-color: @footer_activebg;
        color: @footer_active;
    }

}

