@media (max-width: 848px) {

.wrapper_masonD {
    width: 100%;
    max-width: 96vw;
    margin: 0 auto;
}

}


@media (min-width: 848px) and (max-width: 100em) {

.wrapper_masonD {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}

}
