//**
// Typography vars
//**

@default_font: Quattrocento, Georgia, serif;

@header_font: Oswald, Arial, Helvetica, sans-serif;


//**
// Layout vars
//**

// Golden ratio, which makes just about anything look lovely
@golden: 1.618;




//**
// Color vars
//**

// Global

@afocus: #FF9900;
@selectionbg: #FF6600;
@selectioncolor: #FFF;
// header

@header_bg: #333;
@header_title: #F5F5F5;
@header_desc: #BBB;
@header_nav: #CCC;
@header_nav_focus: @afocus;
@header_nav_active: #FFFFFF;
@header_nav_hover: @header_nav_active;

// Index (masonry)

@mason_img_bg: #FFFFE8;
@masonDate: #AAA;

// Body stuff

@body_link: #FF6600;
@body_focus: #FF0;
@body_hover: #555;

// Footer

@footertxt: #CCC;
