<footer class="footer_masonD">
<div class="subscribe_masonD"><a target="_blank" href="{{@blog.url}}/rss/"><i class="icon icon-feed4"></i>RSS Feed</a></div>
    <div class="footertext_masonD">All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</div>
    <div class="footertext_masonD">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>
