{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<main class="main_masonD" role="main">
    <header class="pagetitle_masonD">{{title}}</header>
    <article class="article_masonD {{post_class}}">
        <section class="post-content">
            {{content}}
        </section>
    <p>Last updated in {{ date published at format="MMMM DD, YYYY" }}</p>
    </article>
</main>
{{/post}}
